.buildingIcon {
    vertical-align: baseline;
    margin-bottom: -3px;
}

.buildingSection {
    margin-top: -10rem !important;
}

.buildingSectionTitle {
    font-family: 'Roboto Mono', monospace !important;
    font-size: 1.5rem !important;
    font-weight: 600 !important;
}

.buildingSectionBody {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem !important;
    font-weight: 300 !important;
    letter-spacing: -0.01rem;
}

.buildingLink {
    border-bottom: 1px #fff outset;
}

.roomCardIcon {
    font-size: 120%;
}

.roomCardLink {
    margin-top: 15px;
}

.roomCardLink > a {
    font-family: 'Roboto Mono', monospace !important;
    letter-spacing: -0.025px !important;
}

.cardDeckFlex > div {
    flex: 1 1 300px !important;
}

.cardDeckTop { 
    margin-top: -10px !important;
}

.liveStreamButton {
    font-size: 0.85rem !important;
    vertical-align: middle !important;
    margin-top: -3px;
    margin-right: -2px;
}

.hideNoRoomsButton {
    margin-top: -7px !important;
    margin-bottoM: 50px !important;
}

.technicalFacts {
    margin-left: -24px !important;
}

.titleLineHeight {
    line-height: 3.5rem !important;
}

.roomList {
    list-style-type: none !important;
    margin-left: -39px !important;
}

.buildingDirectory {
    margin-left: -20px !important;
}

.proTip {
    font-size: 0.85rem !important;
}

.proTip b {
    /* text-transform: uppercase; */
    font-variant: normal;
    color: #498ac6 !important;
}

.pulsatingCircleSpacing {
    margin-top: 8px !important;
}

.siteBtn {
    font-family: 'Roboto Mono', monospace !important;
    font-weight: 400 !important;
}

.buildingRow {
    width: 150% !important;
    margin-left: -25% !important;
}

/* for mobile devices do not do the above rule */
@media only screen and (max-width: 600px) {
    .buildingRow {
        width: unset !important;
        margin-left: -4% !important;
    }
}