.infoSection {
    margin-top: -10rem !important;
}

.infoSectionTitle {
    font-family: 'Roboto Mono', monospace !important;
    font-size: 1.5rem !important;
    font-weight: 600 !important;
}

.infoSectionBody {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem !important;
    font-weight: 300 !important;
    letter-spacing: -0.01rem;
}

.infoLink {
    border-bottom: 1px #fff outset;
}

.modifier {
    margin-right: 10px;
    letter-spacing: -0.05rem;
}

.inlineModifier {
    margin: 3px;
}