.infoSection {
    margin-top: -10rem !important;
}

.infoSectionTitle {
    font-family: 'Roboto Mono', monospace !important;
    font-size: 1.5rem !important;
    font-weight: 600 !important;
}

.infoSectionBody {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem !important;
    font-weight: 300 !important;
    letter-spacing: -0.01rem;
}

.infoLink {
    border-bottom: 1px #fff outset;
}

.modifier {
    margin-right: 10px;
    letter-spacing: -0.05rem;
}

.inlineModifier {
    margin: 3px;
}

.internalInfo {
    margin-left: -2.6rem !important;
}

.resHallInfoTitle {
    font-family: 'Roboto Mono', monospace !important;
    font-size: 1.25rem !important;
    font-weight: 600 !important;
}

.composition {
    list-style: none !important;
    margin-left: 0.5rem !important;
}

.compositionIcon {
    vertical-align: sub !important;
}

.compositionPercent {
    font-variant: sub !important;
    vertical-align: 19% !important;
}

.amenityKey {
    margin-left: 5px;
    vertical-align: middle !important;
}