.courseIcon {
    vertical-align: sub;
    margin-right: 12px;
    margin-bottom: 3px;
}

.sectionSeparator {
    margin-top: -9rem !important;
}

.sectionTitle {
    font-family: 'Roboto Mono', monospace;
    font-size: 0.98rem !important;
    font-weight: 600;
}

.loader {
    text-align: center !important;
}

.rating {
    vertical-align: text-bottom !important;
}

.ratingGreen {
    background-color: #49d64e;
}

.ratingLime {
    background-color: #6bdd6e;
}

.ratingYellow {
    background-color: #ffd600;
}

.ratingOrange {
    background-color: #e2a011;
}

.ratingRed {
    background-color: #ff2626;
    color: #fff;
}

.ratingGray {
    background-color: #525252;   
    color: #fff;
}

.ratingGreenText {
    color: #49d64e;
}

.ratingLimeText {
    color: #6bdd6e;
}

.ratingYellowText {
    color: #e2bf11;
}

.ratingOrangeText {
    color: #e2a011;
}

.ratingRedText {
    color: #ff2626;
}

.ratingGrayText {
    color: #525252;   
}

.description {
    margin-top: -10px;
    padding-bottom: 20px;
    font-weight: 300;
}

.descriptionLast {
    margin-top: -10px;
    font-weight: 300;
}

.caList {
    list-style-type: none;
}

.tabBody {
    padding: 5px;
}

.tabBodyDataTable {
    padding: 0px !important;
    margin: -3px !important;
}

.sectionDataExpanded {
    padding: 16px;
    display: block;
    width: 100%;
}

.courseCardSectionTitle {
    font-family: 'Roboto Mono', monospace !important;
    font-size: 1.25rem !important;
    font-weight: 600 !important;
    letter-spacing: -0.05rem;
}

.courseCardSectionBody {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: initial;
}

.statisticSection {
    font-family: 'Roboto Mono', monospace !important;
    font-weight: 600 !important;
}

.statisticField {
    font-size: 12px;
    font-weight: 300;
}

.statisticFieldSm {
    font-size: 11px;
    font-weight: 300;
}

.profile-page .tX {
    width: 32px;
    height: 32px;
}

.socialBump {
    padding-right: 5px;
    font-size: 15px;
}

.sectionProfileCover {
    height: 450px !important;
}

.statistic {
    width: 100%;
    margin-bottom: 0;
    display: flex;
    min-height: 15px;
}

.statistic .head {
    white-space: nowrap;
}

.statistic .divider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-bottom: 1px dotted #ccc;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    top: -14px;
}

.statistic .value {
    font-size: 18px;
    margin-top: 0px;
    text-align: right;
    -webkit-font-feature-settings: "tnum" 1;
    font-feature-settings: "tnum" 1;
}

.nav-pills .nav-link:hover .pills-cobalt[aria-selected="false"] {
    color: #66A7C5 !important;
}

.profile-page .pills-cobalt[aria-selected="false"] {
    background-color: #fff !important;
    color: #66A7C5 !important;
}

.profile-page .pills-cobalt[aria-selected="true"] {
    color: #fff !important;
    background-color: #66A7C5 !important;
}

.sections-paginator-spacing {
    padding-top: 15px;
}

.cursorHelp {
    cursor: help !important;
  }
  
.horizontalDivider {
    margin-top: 1.25rem;
}

.avatar {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    flex-shrink: 0;
}

.notiTitle {
    font-size: .765rem;
    text-transform: none;
}

.statisticSectionIconPosition {
    padding-bottom: 2px;
    margin-top: 0.35rem;
    margin-left: -40px;
}

.statisticSectionHeader {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: -0.045em;
    margin-top: -3px;
}

.statisticList {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.statisticList .statisticItem {
    padding: 20px;
    background: white;
    display: flex;
    margin-bottom:10px;
    border-radius: 10px;
}

@media screen and (min-width: 768px) {
    .statisticList .statisticItem:hover {
        cursor: pointer;
        background-color: #f7f7f7;
    }
}

.statisticList .statisticImage i {
    font-size: 35px;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    flex-shrink: 0;
    padding-top: 11px;
}

.statisticList .statisticImage svg {
    font-size: 35px;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    flex-shrink: 0;
    padding-top: 11px;
}

.statisticList .details {
    padding-left: 20px;
    border-left: 1px solid #eee;
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.statisticList .details p {
    margin: 0;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.statisticList .details p small {
    line-height: 0.7;
}

.statisticCollapse {
    margin-top: 15px;
}

@media screen and (min-width: 575px) {
    .pr0 {
        padding-right: 0 !important;
    }
}

@media screen and (min-width: 574px) {
    .pr0 {
        padding-right: unset !important;
    }
}

.campusIndicator {
    font-family: 'Roboto Mono', monospace !important;
    font-weight: 600;
    letter-spacing: -0.05rem;
}

.metricsEntry {
    font-family: 'Roboto Mono', monospace !important;
    letter-spacing: -0.05rem;
}

.modalityTooltipType {
    font-family: 'Roboto Mono', monospace !important;
    font-size: 0.8rem;
}

.modalityTooltipDescription {
    font-size: 0.75rem;
}

.statisticListProf {
    overflow-x: auto !important;
    overflow-y: hidden !important;
    width: 100% !important;
    position: relative !important;
}

@media screen and (min-width: 374px) {
    .statisticListProf .details {
        border-left: unset !important;
        overflow: unset !important;
    }
}

@media screen and (min-width: 770px) {
    .statisticListProf .details {
        border-left: 1px solid #eee !important;
        overflow: unset !important;
    }
}

.extraRoomsIndicator {
    vertical-align: top;
    font-size: 0.525rem !important;
    font-family: 'Roboto Mono' monospace !important;
}

.roomTooltip {
    font-size: 0.75rem !important;
}

.ratingTags {
    margin-left: -40px !important;
    list-style: none;
}

.honorsWarning {
    margin-top: -5px !important;
    font-family: 'Roboto Mono', monospace !important;
    font-weight: 600 !important;
}

.honorsDescription {
    margin-top: -15px !important;
    padding-bottom: 20px;
    font-weight: 300;
}

.identifierNumber {
    font-family: 'Roboto Mono', monospace !important;
    font-weight: 500;
}

.roomScheduleCircle {
    font-size: 0.65rem !important;
    vertical-align: text-top !important;
    margin-top: 7px !important;
}

.roomScheduleStatus {
    font-weight: 600 !important;
}

.pulsatingCircle {
    position: absolute;
    margin: 10px;
    margin-left: 1px;
    margin-right: 20px;
    padding-left: 10px !important;
    width: 10px;
    height: 10px;
    margin-top: 4px;
}

.pulsatingCircle:before {
    content: "";
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 45px;
    background-color: #1ac03e;
    -webkit-animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
            animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.pulsatingCircle:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #1ac03e;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    -webkit-animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
            animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
}

@-webkit-keyframes pulse-ring {
    0% {
        transform: scale(0.33);
    }
    80%, 100% {
        opacity: 0;
    }
}

@keyframes pulse-ring {
    0% {
        transform: scale(0.33);
    }
    80%, 100% {
        opacity: 0;
    }
}

@-webkit-keyframes pulse-dot {
    0% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.8);
    }
}

@keyframes pulse-dot {
    0% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.8);
    }
}

.pulsatingCircleSeparator {
    padding-left: 17px !important;
}

.roomSchedule {
    margin-bottom: 35px;
}

.roomSchedule li {
    list-style: none !important;
    margin-left: -40px !important;
    font-size: 0.95rem !important;
}

.roomBuildingIcon {
    vertical-align: sub !important;
}

.roomAgendaTitle {
    font-family: 'Roboto Mono', monospace !important;
    font-size: 1.5rem !important;
    font-weight: 600 !important;
    color: #fff !important;
}

.transferListItem {
    font-size: 0.95rem !important;
}