.navBrandText {
    font-weight: 900;
    font-size: 1rem;
    font-family: 'Roboto Mono', monospace;
    text-transform: lowercase !important;
}

.navBrandImg {
    width: 400px !important;
    height: 50px !important;
    min-width: unset !important;
    max-width: 100% !important;
    min-height: unset !important;
    max-height: unset !important;
}

.navBrandMobileText {
    font-family: 'Roboto Mono', monospace !important;
    font-weight: 600 !important;
}

.navBrandMobileCloser {
    vertical-align: top !important;
}

.navLink i {
    font-size: 1rem;
    margin-right: 5px;
}

.dropdownPosition {
    margin-top: 52px !important;
    left: -8px !important;
    width: 350px !important;
}

.mobileDropdownPosition {
    margin-top: unset !important;
}

.normalDropdownPosition {
    margin-top: 52px !important;
    left: -8px !important;
}